<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo Shop</title>

    <!--    STOMP-->
    <script src="webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>

    <!--    bucket.js dependency jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/menu :: #bucket}"></div>
<script src="/bucket.js"></script>
<h2>Amount clicks -> <b th:text="${amountClicks}">10</b></h2>
<h2>Your UUID --> <b th:text="${uuid}">10</b></h2>
</body>
</html>